[data-scope="select"] {
    --gap: calc(var(--spacing) * 1);
    --border-radius: var(--radius-md);
    --input-height: calc(var(--spacing) * 10);

    &[data-part="root"] {
        display: flex;
        flex-direction: column;
        gap: var(--gap);
    }

    &[data-part="label"] {
        font-weight: var(--font-weight-medium);
        &:has(+ :required, [data-required])::after {
            content: "*";
        }
    }

    &[data-part="trigger"] {
        --padding-inline: calc(var(--spacing) * 4);

        width: 100%;
        height: var(--input-height);
        border: 1px solid black;
        border-radius: var(--border-radius);
        outline: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-inline: var(--padding-inline);
    }

    &[data-part="content"] {
        background: white;
        position: relative;
        outline: 1px solid black;
    }

    &[data-part="item"] {
        --padding-block: calc(var(--spacing) * 2);
        --padding-inline: calc(var(--spacing) * 4);

        padding-block: var(--padding-block);
        padding-inline: var(--padding-inline);
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        width: var(--reference-width);

        &:has([data-highlighted]) {
            background: var(--color-gray-700);
            color: white;
        }
    }
}
