#form-slot {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    margin-top: calc(var(--spacing) * 12);
    &:first-child {
        margin-top: 0;
    }
}

#form-group {
    grid-column: span 2 / span 2;
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 6);
}
