[data-scope="fieldset"] {
    &[data-part="root"] {
        --gap: calc(var(--spacing) * 1);
        --input-height: calc(var(--spacing) * 10);

        display: flex;
        flex-direction: column;
        gap: var(--gap);
    }

    &[data-part="legend"] {
        font-weight: var(--font-weight-medium);
        &:has(+ :required, [data-required])::after {
            content: "*";
        }
    }
}
