[data-scope="checkbox"] {
    &[data-part="root"] {
        display: flex;
        gap: calc(var(--spacing) * 2);
        align-items: flex-start;
    }

    &[data-part="control"] {
        --size: calc(var(--spacing) * 6);

        border: 1px solid var(--color-black-muted);
        border-radius: var(--radius-sm);
        aspect-ratio: 1;
        width: var(--size);
        height: var(--size);
        display: grid;
        place-items: center;
        color: white;
        cursor: pointer;

        &:is(:checked, [data-state="checked"]) {
            background: var(--color-primary);
            border-color: var(--color-primary);
        }

        &:is([data-focus-visible]) {
            border-color: var(--color-primary);
            outline: 2px solid var(--color-primary);
            outline-offset: 1px;
        }
    }
}
