[data-scope="button"] {
    --height: 40px;
    --border-radius: 0.75rem;
    --padding: 8px 16px;
    --color: purple;
    --width: auto;

    &[data-part="root"] {
        height: var(--height);
        width: var(--width);
        border: 2px solid var(--color);
        border-radius: var(--border-radius);
        padding: var(--padding);
        cursor: pointer;
        color: var(--color);

        &:hover {
            background: var(--color);
            color: white;
        }
    }
}
