[data-scope="button"] {
    --height: 40px;
    --border-radius: 0.75rem;
    --padding: calc(var(--spacing) * 2) calc(var(--spacing) * 4);
    --color: purple;
    --width: auto;

    &[data-part="root"] {
        height: var(--height);
        width: var(--width);
        border: 2px solid var(--color);
        border-radius: var(--border-radius);
        padding: var(--padding);
        cursor: pointer;
        color: var(--color);
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;

        &:hover {
            background: var(--color);
            color: white;
        }
    }
}
