[data-scope="button"] {
    --height: 40px;
    --padding: calc(var(--spacing) * 2) calc(var(--spacing) * 4);
    --color: var(--color-primary);
    --width: auto;

    &[data-part="root"] {
        height: var(--height);
        width: var(--width);
        border: 2px solid var(--color);
        border-radius: var(--radius-default);
        padding: var(--padding);
        cursor: pointer;
        color: var(--color);
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;

        &:is(:hover, :focus-visible) {
            background: var(--color);
            color: var(--color-white);
        }

        &:focus-visible {
            outline: none;
        }
    }
}
