[data-scope="avatar"] {
    --size: 20rem;

    &[data-part="root"] {
        height: var(--size);
        width: var(--size);
        overflow: hidden;
        border-radius: var(--radius-full);
    }
    &[data-part="fallback"] {
    }
    &[data-part="image"] {
    }
}
