@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
    --radius-full: 9999px;
}

@theme {
    --text-h1: 2.986rem;
    --text-h2: 2.488rem;
    --text-h3: 2.074rem;
    --text-h4: 1.728rem;
    --text-h5: 1.44rem;
    --text-h6: 1.2rem;

    --color-telegram: #24a1de;
    --color-discord: #7289da;
    --color-bluesky: #006aff;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);

    /* --text-h1: var(--text-h1);
    --text-h2: var(--text-h2);
    --text-h3: var(--text-h3);
    --text-h4: var(--text-h4);
    --text-h5: var(--text-h5);
    --text-h6: var(--text-h6); */
}

body {
    background: var(--background);
    color: var(--foreground);

    max-width: var(--breakpoint-md);
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: calc(2px + 2ex + 2px);
    font-weight: var(--font-weight-bold);
}

p {
    line-height: calc(2px + 2ex + 2px);
}

h1 {
    font-size: var(--text-h1);
}

h2 {
    font-size: var(--text-h2);
}

h3 {
    font-size: var(--text-h3);
}

h4 {
    font-size: var(--text-h4);
}

h5 {
    font-size: var(--text-h5);
}

h6 {
    font-size: var(--text-h6);
}

small {
    font-size: 0.833rem;
}

ul {
    li {
        list-style: inside square;
        margin-top: calc(var(--spacing) * 1);
        &:first-child {
            margin-top: 0;
        }
    }
}
