@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
    --radius-full: 9999px;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

body {
    background: var(--background);
    color: var(--foreground);

    max-width: var(--breakpoint-sm);
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: calc(2px + 2ex + 2px);
    font-weight: var(--font-weight-bold);
}

p {
    line-height: calc(2px + 2ex + 2px);
}

h1 {
    font-size: 2.986rem;
}

h2 {
    font-size: 2.488rem;
}

h3 {
    font-size: 2.074rem;
}

h4 {
    font-size: 1.728rem;
}

h5 {
    font-size: 1.44rem;
}

h6 {
    font-size: 1.2rem;
}

small {
    font-size: 0.833rem;
}
