#home-slot {
    margin-top: calc(var(--spacing) * 12);
    &:first-child {
        margin-top: 0;
    }

    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 3);

    & p {
        text-indent: calc(var(--spacing) * 6);
    }
}
