[data-scope="popover"] {
    &[data-part="trigger"] {
        display: flex;
        align-items: center;
        gap: calc(var(--spacing) * 1);
        cursor: pointer;
    }

    &[data-part="content"] {
        background: var(--color-white);
        box-shadow: var(--shadow-default);
        display: flex;
        flex-direction: column;
    }
}
