[data-scope="field"] {
    &[data-part="root"] {
        --gap: calc(var(--spacing) * 1);
        --input-height: calc(var(--spacing) * 10);
        --border-radius: var(--radius-md);
        --input-p-inline: calc(var(--spacing) * 4);
        --input-p-block: calc(var(--spacing) * 2);

        display: flex;
        flex-direction: column;
        gap: var(--gap);
    }

    &[data-part="label"] {
        font-weight: var(--font-weight-bold);
        display: flex;
        justify-content: space-between;
    }

    &[data-part="required-indicator"] {
        font-size: var(--text-sm);
        font-weight: var(--font-weight-normal);
    }

    &[data-part="input-inline-container"] {
        display: flex;
    }

    &[data-part="input-inline-addon"] {
        border: 1px solid black;
        border-right: 0;
        padding-inline: var(--input-p-inline);
        border-top-left-radius: var(--radius-md);
        border-bottom-left-radius: var(--radius-md);
        display: flex;
        align-items: center;
    }

    &[data-part="input"] {
        width: 100%;
        height: var(--input-height);
        border: 1px solid black;
        border-radius: var(--border-radius);
        outline: none;
        padding-inline: var(--input-p-inline);

        &:is([data-variant="inline"]) {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }

    &[data-part="textarea"] {
        min-height: calc(var(--container-3xs) / 2);
        border: 1px solid black;
        border-radius: var(--border-radius);
        outline: none;
        padding-inline: var(--input-p-inline);
        padding-block: var(--input-p-block);
    }

    &[data-part="helper-text"] {
    }

    &[data-part="error-text"] {
    }
}
