[data-scope="file-upload"] {
    --p-inline: calc(var(--spacing) * 4);
    --p-block: calc(var(--spacing) * 2);

    &[data-part="root"] {
        display: flex;
        flex-direction: column;
        gap: calc(var(--spacing) * 2);
    }

    &[data-part="label"] {
        font-weight: var(--font-weight-bold);
        display: flex;
        justify-content: space-between;
    }

    &[data-part="dropzone"] {
        --min-height: var(--container-3xs);
        --dropzone-gap: calc(var(--spacing) * 3);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--dropzone-gap);
        min-height: var(--min-height);
        padding: var(--p-block) var(--p-inline);
        border: 1px solid var(--color-black-muted);
        border-radius: var(--radius-md);
        cursor: pointer;

        &:focus-visible {
            border-color: var(--color-primary);
            outline: 2px solid var(--color-primary);
        }
    }

    &[data-part="item"] {
        display: grid;
        column-gap: calc(var(--spacing) * 4);
        grid-template-areas: "preview name delete" "preview size delete";
        grid-template-columns: auto 1fr auto;
        padding: var(--p-block) var(--p-inline);
        border: 1px solid var(--color-black-muted);
        border-radius: var(--radius-md);
    }

    &[data-part="item-preview"] {
        grid-area: preview;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    &[data-part="item-preview-image"] {
        --size: calc(var(--spacing) * 12);

        aspect-ratio: 1;
        height: var(--size);
        width: var(--size);
        object-fit: scale-down;
    }

    &[data-part="item-name"] {
        grid-area: name;
        font-weight: var(--font-weight-medium);
    }

    &[data-part="item-size-text"] {
        grid-area: size;
        font-size: var(--text-sm);
    }

    &[data-part="item-delete-trigger"] {
        grid-area: delete;
        cursor: pointer;
        align-self: flex-start;
    }
}
